<section class="sectionPadding">
  <div class="container">
    <div class="section-header justify-content-center text-center mb-4 mb-lg-5">
      <h2 class="section-header-title">اتصل بنا</h2>

      <p class="section-header-desc2 mx-auto" style="max-width: 600px">
        هل لديك استفسار عن الدورات؟ أو تحتاج إلى استشارة في مسارك المهني؟ لا
        تتردد في التواصل معي، سأكون سعيداً بمساعدتك.
      </p>
    </div>

    <div class="row g-3 g-lg-4">
      <div class="col-12 col-lg-5 d-none d-lg-block">
        <div class="rounded-5 overflow-hidden" style="height: 650px">
          <img
            src="assets/images/img.png"
            alt=""
            class="w-100 h-100 object-fit-cover"
          />
        </div>
      </div>

      <div class="col-12 col-lg-7">
        <form class="contact-form">
          <div class="mb-3">
            <label class="form-label">اسم المسؤول</label>
            <input
              type="text"
              class="form-control"
              placeholder="اكتب اسمك هنا"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">رقم الجوال</label>
            <input
              id="phone"
              type="tel"
              class="form-control"
              placeholder="أدخل رقم الجوال"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">البريد الالكتروني</label>
            <input
              type="email"
              class="form-control"
              placeholder="اكتب اسمك هنا"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">الرسالة</label>
            <textarea
              class="form-control"
              rows="5"
              placeholder="الرسالة"
              required
            ></textarea>
          </div>

          <button type="submit" class="main-btn w-100">ارسال</button>
        </form>

        <div class="mt-4 pt-4 border-top row g-3">
          <div class="col-12 col-xl-8 d-flex align-items-center justify-content-center justify-content-xl-start gap-3">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div
                class="d-flex justify-content-center align-items-center rounded-circle bg-primary text-white fs-5"
                style="width: 2.5rem; height: 2.5rem"
              >
                <i class="bi bi-telephone mt-1"></i>
              </div>

              <div class="d-flex flex-column gap-1" style="color: var(--p)">
                <span style="font-size: 14px; font-weight: 500"
                  >رقم الجوال</span
                >
                <span class="" style="font-size: 16px; font-weight: 500"
                  >546874215412154</span
                >
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div
                class="d-flex justify-content-center align-items-center rounded-circle bg-primary text-white fs-5"
                style="width: 2.5rem; height: 2.5rem"
              >
                <i class="bi bi-envelope mt-1"></i>
              </div>

              <div class="d-flex flex-column gap-1" style="color: var(--p)">
                <span style="font-size: 14px; font-weight: 500"
                  >البريد الالكرتوني</span
                >
                <span class="" style="font-size: 16px; font-weight: 500"
                  >7Kd0B@example.com</span
                >
              </div>
            </div>
          </div>

          <div
            class="col-12 col-xl-4 d-flex align-items-center justify-content-center justify-content-xl-end gap-3 border-end"
          >
            <a href="#" class="fs-5" style="color: var(--p)"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="#" class="fs-5" style="color: var(--p)"
              ><i class="bi bi-whatsapp"></i
            ></a>
            <a href="#" class="fs-5" style="color: var(--p)"
              ><i class="bi bi-twitter-x"></i
            ></a>
            <a href="#" class="fs-5" style="color: var(--p)"
              ><i class="bi bi-youtube"></i
            ></a>
            <a href="#" class="fs-5" style="color: var(--p)"
              ><i class="bi bi-facebook"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
