<section class="sectionPadding">
  <div
    class="container d-flex flex-wrap align-items-end justify-content-between gap-2 mb-3 mb-lg-5"
  >
    <div class="section-header">
      <h2 class="section-header-title">الدورات التدريبية</h2>

      <p class="section-header-desc2" style="max-width: 900px">
        بدأت رحلتي في عالم البرمجة بشغف كبير، وعملت مع كبرى الشركات التقنية.
        أؤمن بأن التعليم يجب أن يكون عملياً
      </p>
    </div>
    <a href="courses.html" class="main-btn fs-6">استكشف المزيد</a>
  </div>

  <div class="slider-container">
    <div class="swiper courses-mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="course-card bg-white h-100 border shadow-sm rounded-4">
            <div
              class="card-img rounded-top-3 overflow-hidden position-relative"
            >
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-light text-white shadow-sm"
                style="
                  top: 10px;
                  right: 10px;
                  font-size: 14px;
                  line-height: 1;
                  background-color: #12121233;
                  backdrop-filter: blur(10px);
                "
              >
                Front End
              </div>
            </div>

            <div class="d-flex flex-column justify-content-between gap-2 p-3">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="fw-medium bg-primary text-white py-1 px-2 rounded-2"
                  style="font-size: 1.5rem; line-height: 1"
                  >$ 1500.00</span
                >

                <span
                  style="
                    font-size: 1rem;
                    color: #bebebe;
                    text-decoration: line-through;
                  "
                  >$1900.00</span
                >
              </div>

              <h6 class="text-primary">دورة تطوير</h6>

              <p class="fw-medium" style="font-size: 14px">
                هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن
                نظام إدارة تعلم احترافي...
              </p>

              <div class="d-flex justify-content-end align-items-center gap-2">
                <a
                  href="course-details.html"
                  class="text-secondary border-bottom border-secondary fs-6"
                >
                  تفاصيل الدورة</a
                >
              </div>

              <div
                class="card-meta small d-flex flex-wrap gap-3 pt-2 border-top"
                style="font-size: 12px"
              >
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-clock fs-5"></i>
                  25 ساعة
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="course-card bg-white h-100 border shadow-sm rounded-4">
            <div
              class="card-img rounded-top-3 overflow-hidden position-relative"
            >
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-light text-white shadow-sm"
                style="
                  top: 10px;
                  right: 10px;
                  font-size: 14px;
                  line-height: 1;
                  background-color: #12121233;
                  backdrop-filter: blur(10px);
                "
              >
                Front End
              </div>
            </div>

            <div class="d-flex flex-column justify-content-between gap-2 p-3">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="fw-medium bg-primary text-white py-1 px-2 rounded-2"
                  style="font-size: 1.5rem; line-height: 1"
                  >$ 1500.00</span
                >

                <span
                  style="
                    font-size: 1rem;
                    color: #bebebe;
                    text-decoration: line-through;
                  "
                  >$1900.00</span
                >
              </div>

              <h6 class="text-primary">دورة تطوير</h6>

              <p class="fw-medium" style="font-size: 14px">
                هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن
                نظام إدارة تعلم احترافي...
              </p>

              <div class="d-flex justify-content-end align-items-center gap-2">
                <a
                  href="course-details.html"
                  class="text-secondary border-bottom border-secondary fs-6"
                >
                  تفاصيل الدورة</a
                >
              </div>

              <div
                class="card-meta small d-flex flex-wrap gap-3 pt-2 border-top"
                style="font-size: 12px"
              >
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-clock fs-5"></i>
                  25 ساعة
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="course-card bg-white h-100 border shadow-sm rounded-4">
            <div
              class="card-img rounded-top-3 overflow-hidden position-relative"
            >
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-light text-white shadow-sm"
                style="
                  top: 10px;
                  right: 10px;
                  font-size: 14px;
                  line-height: 1;
                  background-color: #12121233;
                  backdrop-filter: blur(10px);
                "
              >
                Front End
              </div>
            </div>

            <div class="d-flex flex-column justify-content-between gap-2 p-3">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="fw-medium bg-primary text-white py-1 px-2 rounded-2"
                  style="font-size: 1.5rem; line-height: 1"
                  >$ 1500.00</span
                >

                <span
                  style="
                    font-size: 1rem;
                    color: #bebebe;
                    text-decoration: line-through;
                  "
                  >$1900.00</span
                >
              </div>

              <h6 class="text-primary">دورة تطوير</h6>

              <p class="fw-medium" style="font-size: 14px">
                هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن
                نظام إدارة تعلم احترافي...
              </p>

              <div class="d-flex justify-content-end align-items-center gap-2">
                <a
                  href="course-details.html"
                  class="text-secondary border-bottom border-secondary fs-6"
                >
                  تفاصيل الدورة</a
                >
              </div>

              <div
                class="card-meta small d-flex flex-wrap gap-3 pt-2 border-top"
                style="font-size: 12px"
              >
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-clock fs-5"></i>
                  25 ساعة
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="course-card bg-white h-100 border shadow-sm rounded-4">
            <div
              class="card-img rounded-top-3 overflow-hidden position-relative"
            >
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-light text-white shadow-sm"
                style="
                  top: 10px;
                  right: 10px;
                  font-size: 14px;
                  line-height: 1;
                  background-color: #12121233;
                  backdrop-filter: blur(10px);
                "
              >
                Front End
              </div>
            </div>

            <div class="d-flex flex-column justify-content-between gap-2 p-3">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="fw-medium bg-primary text-white py-1 px-2 rounded-2"
                  style="font-size: 1.5rem; line-height: 1"
                  >$ 1500.00</span
                >

                <span
                  style="
                    font-size: 1rem;
                    color: #bebebe;
                    text-decoration: line-through;
                  "
                  >$1900.00</span
                >
              </div>

              <h6 class="text-primary">دورة تطوير</h6>

              <p class="fw-medium" style="font-size: 14px">
                هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن
                نظام إدارة تعلم احترافي...
              </p>

              <div class="d-flex justify-content-end align-items-center gap-2">
                <a
                  href="course-details.html"
                  class="text-secondary border-bottom border-secondary fs-6"
                >
                  تفاصيل الدورة</a
                >
              </div>

              <div
                class="card-meta small d-flex flex-wrap gap-3 pt-2 border-top"
                style="font-size: 12px"
              >
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-clock fs-5"></i>
                  25 ساعة
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
                <p class="d-flex align-items-center gap-2 fs-6">
                  <i class="bi bi-calendar3 fs-5"></i> 11 محاضره
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button id="courses-btn-prev" class="slider-btn prev">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button id="courses-btn-next" class="slider-btn next">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

  <div class="d-flex justify-content-center gap-2 mt-4 d-lg-none">
    <button id="courses-btn-prev-mobile" class="slider-btn">
      <i class="bi bi-arrow-right"></i>
    </button>
    <button id="courses-btn-next-mobile" class="slider-btn">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>
</section>
