<section class="sectionPadding" style="background: var(--gray)">
  <div class="container">
    <div class="section-header mb-4 mb-lg-5">
      <h2 class="section-header-title">مميزات الاكادمية</h2>

      <p class="section-header-desc2" style="max-width: 900px">
        عملية تؤهلهم لسوق العمل أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى
        تدريبي عالي الجودة يساعد الأفراد على تطوير مهاراتهم واكتساب خبرات عملية
        تؤهلهم لسوق العمل. توفر الأكاديمية مجموعة متنوعة من الدورات
      </p>
    </div>

    <div class="row g-4">
      <div class="col-12 col-md-4">
        <div
          class="bg-primary text-white p-3 rounded-4 d-flex flex-column gap-2"
        >
          <div class="overflow-hidden mb-2" style="width: 30px">
            <img
              src="assets/images/features-icon-1.png"
              alt=""
              class="w-100 h-100 object-fit-contain"
            />
          </div>

          <p class="fw-medium text-white" style="font-size: 1.25rem">
            تعلم شامل ومنظم
          </p>
          <p
            class="fw-light text-white"
            style="font-size: 14px; line-height: 1.7"
          >
            نوفر محتوى تعليمي متكامل يغطي جميع الجوانب النظرية والتطبيقية، مع
            تنظيم واضح يساعد الطلاب على التدرج في التعلم خطوة بخطوة دون تشتت أو
            صعوبة
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div
          class="bg-primary text-white p-3 rounded-4 d-flex flex-column gap-2"
        >
          <div class="overflow-hidden mb-2" style="width: 30px">
            <img
              src="assets/images/features-icon-2.png"
              alt=""
              class="w-100 h-100 object-fit-contain"
            />
          </div>

          <p class="fw-medium text-white" style="font-size: 1.25rem">
            تعلم شامل ومنظم
          </p>
          <p
            class="fw-light text-white"
            style="font-size: 14px; line-height: 1.7"
          >
            نوفر محتوى تعليمي متكامل يغطي جميع الجوانب النظرية والتطبيقية، مع
            تنظيم واضح يساعد الطلاب على التدرج في التعلم خطوة بخطوة دون تشتت أو
            صعوبة
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div
          class="bg-primary text-white p-3 rounded-4 d-flex flex-column gap-2"
        >
          <div class="overflow-hidden mb-2" style="width: 30px">
            <img
              src="assets/images/features-icon-3.png"
              alt=""
              class="w-100 h-100 object-fit-contain"
            />
          </div>

          <p class="fw-medium text-white" style="font-size: 1.25rem">
            تعلم شامل ومنظم
          </p>
          <p
            class="fw-light text-white"
            style="font-size: 14px; line-height: 1.7"
          >
            نوفر محتوى تعليمي متكامل يغطي جميع الجوانب النظرية والتطبيقية، مع
            تنظيم واضح يساعد الطلاب على التدرج في التعلم خطوة بخطوة دون تشتت أو
            صعوبة
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
