<footer
  class="sectionPadding text-white bg-primary"
  style="background: url(assets/images/img2.png) no-repeat center center/cover"
>
  <div class="container">
    <div
      class="p-4 py-lg-5 rounded-5"
      style="background-color: #000000a7; backdrop-filter: blur(10px)"
    >
      <div class="row g-4 justify-content-evenly">
        <div
          class="col-lg-4 d-flex flex-column align-items-start text-end gap-4"
        >
          <div class="footer-logo" style="width: 230px">
            <img
              src="assets/images/logo.png"
              alt="logo"
              class="img-fluid w-100 h-100 object-fit-contain"
            />
          </div>

          <p
            class="footer-desc text-white m-0"
            style="font-size: 0.9rem; max-width: 340px; line-height: 2"
          >
            أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة
            يساعد الأفراد على تطوير مهاراتهم واكتساب خبرات عملية تؤهلهم لسوق
            العمل
          </p>

          <div class="d-flex gap-3 gap-xl-4 border-top border-white pt-3 fs-5">
            <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-white"><i class="bi bi-whatsapp"></i></a>
            <a href="#" class="text-white"><i class="bi bi-telegram"></i></a>
            <a href="#" class="text-white"><i class="bi bi-tiktok"></i></a>
            <a href="#" class="text-white"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
            <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
          </div>
        </div>

        <div class="col-lg-2">
          <h5 class="mb-3 fw-medium">روابط رئيسية</h5>
          <ul class="list-unstyled d-flex flex-column gap-4">
            <li><a href="index.html" class="text-white">الرئيسية</a></li>
            <li><a href="about.html" class="text-white">من نحن</a></li>
            <li>
              <a href="courses.html" class="text-white">الدورات التدريبية</a>
            </li>
            <li><a href="contact-us.html" class="text-white">تواصل معنا</a></li>
          </ul>
        </div>

        <div class="col-lg-3">
          <h5 class="mb-3 fw-medium">اهم الدورات</h5>
          <ul class="list-unstyled d-flex flex-column gap-4">
            <li>
              <a href="#" class="text-white"> إدارة التعليم الرقمي</a>
            </li>
            <li>
              <a href="#" class="text-white">تحريك الفيديوهات</a>
            </li>
            <li><a href="#" class="text-white">كورسات الذكاء الاصطناعي</a></li>
            <li>
              <a href="#" class="text-white">الرسوم المتحركة</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2">
          <h5 class="mb-3 fw-medium">السياسات</h5>
          <ul class="list-unstyled d-flex flex-column gap-4">
            <li>
              <a href="terms.html" class="text-white">الشروط والسياسات</a>
            </li>
            <li>
              <a href="refund.html" class="text-white">سياسة الاسترجاع</a>
            </li>
            <li><a href="refund.html" class="text-white">سياسة خصوصية</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
