<section class="sectionPadding">
  <div class="container">
    <div
      class="bg-primary sectionPadding position-relative overflow-hidden p-3 p-lg-5 d-flex align-items-center justify-content-center justify-content-lg-end"
      style="
        background: url(assets/images/img2.png) no-repeat center center/cover;
        min-height: 650px;
        border-radius: 60px;
      "
    >
      <div
        class="position-absolute bg-black"
        style="inset: 0; opacity: 0.4"
      ></div>

      <div
        class="text-white text-center text-lg-end p-4 rounded-5 d-flex flex-column align-items-center justify-content-center align-items-lg-start gap-4 gap-lg-5 position-relative z-1"
        style="
          background-color: #1c1c1c37;
          backdrop-filter: blur(10px);
          max-width: 550px;
        "
      >
        <h1>
          استثمر في مهاراتك مع <br />
          <span class="text-secondary">أفضل الدورات</span>
        </h1>

        <h6
          class="fw-light mx-auto"
          style="line-height: 1.7; max-width: 1000px"
        >
          أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
          الأفـراد عـلى تـطـوير مـهـاراتـهم واكتساب خبرات عملية تؤهلهم لسوق
          العمل أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة
          يساعد الأفراد على تطوير
        </h6>

        <div class="d-flex flex-wrap justify-content-center gap-2 gap-lg-5">
          <a
            href="courses.html"
            class="main-btn secondary"
            style="min-width: 170px"
          >
            الدورات التدريبية
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
