<nav
  class="navbar navbar-expand-xl fixed-top py-2 shadow-sm"
  style="background-color: #ffffff9e; backdrop-filter: blur(30px)"
>
  <div class="container">
    <a
      href="index.html"
      class="navbar-brand fw-bold m-0 p-0"
      style="width: 200px"
    >
      <img
        src="assets/images/logo-dark.png"
        alt=""
        class="w-100 h-100 object-fit-contain"
      />
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mx-auto gap-4">
        <li class="nav-item">
          <a class="nav-link fw-medium" href="index.html">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="about.html">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="courses.html"
            >الدورات التدريبية</a
          >
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link fw-medium" href="exams.html">الاختبارات</a> -->
          <a class="nav-link fw-medium" href="#">الاختبارات</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link fw-medium" href="activities.html">الفاعليات</a> -->
          <a class="nav-link fw-medium" href="#">الفاعليات</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-medium" href="contact-us.html">اتصل بنا</a>
        </li>
      </ul>

      <div class="d-flex gap-3 justify-content-center">
        <!-- <a href="cart.html" class="text-primary d-flex align-items-center gap-1"
          ><i class="bi bi-basket3 fs-4"></i
        ></a>
        <a
          href="profile.html"
          class="text-primary d-flex align-items-center gap-2"
          ><i class="bi bi-person-circle fs-4"></i> محمد عبد العزيز</a
        > -->
        <button
          class="d-flex align-items-center gap-1 bg-transparent text-primary border border-primary py-1 px-2 fw-light rounded-3"
        >
          <img src="assets/images/lang-icon.png" alt="" style="width: 1.3rem" />
          EN
        </button>
        <!-- <a
          href="register.html"
          class="main-btn secondary py-1 px-2"
          style="font-size: 16px"
          >انشاء حساب</a
        > -->
        <a href="#" class="main-btn py-1 px-2" style="font-size: 16px"
          >تسجيل الدخول</a
        >
      </div>
    </div>
  </div>
</nav>
