<section class="sectionPadding">
  <div
    class="container d-flex flex-wrap align-items-end justify-content-between gap-2 mb-3 mb-lg-5"
  >
    <div class="section-header">
      <h2 class="section-header-title">اراء الطلاب</h2>

      <p class="section-header-desc2" style="max-width: 900px">
        بدأت رحلتي في عالم البرمجة بشغف كبير، وعملت مع كبرى الشركات التقنية.
        أؤمن بأن التعليم يجب أن يكون عملياً
      </p>
    </div>
  </div>

  <div class="slider-container">
    <div class="swiper testimonial-mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="p-3 rounded-3" style="background-color: var(--gray)">
            <div
              class="d-flex align-items-center justify-content-between gap-2 mb-3"
            >
              <div class="d-flex align-items-center gap-2">
                <img
                  src="assets/images/img.png"
                  alt="testimonials"
                  class="rounded-circle object-fit-cover"
                  style="width: 3rem; height: 3rem"
                />
                <div class="d-flex flex-column">
                  <h6 class="">محمد بن عبدالله</h6>
                  <span class="">طالب جامعي</span>
                </div>
              </div>

              <img
                src="assets/images/icon-quote.png"
                alt="testimonials"
                class="object-fit-contain"
                style="width: 2.5rem"
              />
            </div>

            <p style="font-size: 14px">
              هــدفــنـا هـو بـنـاء مـجـتـمـع مـن الـمـتـعلـمين الطموحين،
              ومــسـاعـدتـهـم عــلى تـطويـر مهاراتهـم وتحقيق النجاح المهني من
              خلال تجربة تعليمية عصرية تركز على
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-3 rounded-3" style="background-color: var(--gray)">
            <div
              class="d-flex align-items-center justify-content-between gap-2 mb-3"
            >
              <div class="d-flex align-items-center gap-2">
                <img
                  src="assets/images/img.png"
                  alt="testimonials"
                  class="rounded-circle object-fit-cover"
                  style="width: 3rem; height: 3rem"
                />
                <div class="d-flex flex-column">
                  <h6 class="">محمد بن عبدالله</h6>
                  <span class="">طالب جامعي</span>
                </div>
              </div>

              <img
                src="assets/images/icon-quote.png"
                alt="testimonials"
                class="object-fit-contain"
                style="width: 2.5rem"
              />
            </div>

            <p style="font-size: 14px">
              هــدفــنـا هـو بـنـاء مـجـتـمـع مـن الـمـتـعلـمين الطموحين،
              ومــسـاعـدتـهـم عــلى تـطويـر مهاراتهـم وتحقيق النجاح المهني من
              خلال تجربة تعليمية عصرية تركز على
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-3 rounded-3" style="background-color: var(--gray)">
            <div
              class="d-flex align-items-center justify-content-between gap-2 mb-3"
            >
              <div class="d-flex align-items-center gap-2">
                <img
                  src="assets/images/img.png"
                  alt="testimonials"
                  class="rounded-circle object-fit-cover"
                  style="width: 3rem; height: 3rem"
                />
                <div class="d-flex flex-column">
                  <h6 class="">محمد بن عبدالله</h6>
                  <span class="">طالب جامعي</span>
                </div>
              </div>

              <img
                src="assets/images/icon-quote.png"
                alt="testimonials"
                class="object-fit-contain"
                style="width: 2.5rem"
              />
            </div>

            <p style="font-size: 14px">
              هــدفــنـا هـو بـنـاء مـجـتـمـع مـن الـمـتـعلـمين الطموحين،
              ومــسـاعـدتـهـم عــلى تـطويـر مهاراتهـم وتحقيق النجاح المهني من
              خلال تجربة تعليمية عصرية تركز على
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-3 rounded-3" style="background-color: var(--gray)">
            <div
              class="d-flex align-items-center justify-content-between gap-2 mb-3"
            >
              <div class="d-flex align-items-center gap-2">
                <img
                  src="assets/images/img.png"
                  alt="testimonials"
                  class="rounded-circle object-fit-cover"
                  style="width: 3rem; height: 3rem"
                />
                <div class="d-flex flex-column">
                  <h6 class="">محمد بن عبدالله</h6>
                  <span class="">طالب جامعي</span>
                </div>
              </div>

              <img
                src="assets/images/icon-quote.png"
                alt="testimonials"
                class="object-fit-contain"
                style="width: 2.5rem"
              />
            </div>

            <p style="font-size: 14px">
              هــدفــنـا هـو بـنـاء مـجـتـمـع مـن الـمـتـعلـمين الطموحين،
              ومــسـاعـدتـهـم عــلى تـطويـر مهاراتهـم وتحقيق النجاح المهني من
              خلال تجربة تعليمية عصرية تركز على
            </p>
          </div>
        </div>
      </div>
    </div>

    <button id="testimonial-btn-prev" class="slider-btn prev">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button id="testimonial-btn-next" class="slider-btn next">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

  <div class="d-flex justify-content-center gap-2 mt-4 d-lg-none">
    <button id="courses-btn-prev-mobile" class="slider-btn">
      <i class="bi bi-arrow-right"></i>
    </button>
    <button id="courses-btn-next-mobile" class="slider-btn">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>
</section>
