<section class="sectionPadding">
  <div class="container">
    <div class="row g-3 g-lg-5">
      <div
        class="col-12 col-lg-6 d-flex flex-column gap-3 gap-lg-5 order-2 order-lg-1"
      >
        <div>
          <h2 class="text-primary fw-medium" style="line-height: 1.5">
            هدفنا هو بناء و مساعدة مجتمع من <br />
            <span class="text-secondary fw-bold">المتعلمين الطموحين</span>
          </h2>
        </div>

        <p class="section-header-description">
          نحن أكاديمية تعليمية حديثة تهدف إلى تقديم تجربة تعلم متكاملة تجمع بين
          الجودة، المرونة، والتطبيق العملي. نسعى لتمكين الأفراد من اكتساب
          المهارات والمعرفة التي يحتاجونها لمواكبة متطلبات سوق العمل المتغير، من
          خلال محتوى تعليمي مصمم بعناية ويقدمه خبراء متخصصون في مجالاتهم. نؤمن
          أن التعلم لا يجب أن يكون معقدًا أو محدودًا بوقت ومكان، لذلك نوفر بيئة
          تعليمية مرنة تتيح للطلاب التعلم في أي وقت ومن أي مكان، مع دعم مستمر
          يساعدهم على تحقيق أهدافهم بثقة.
        </p>

        <ul class="list-unstyled d-flex flex-column gap-2">
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
        </ul>

        <div class="d-flex">
          <a href="about.html" class="main-btn">اعرف المزيد</a>
        </div>
      </div>

      <div class="col-12 col-lg-6 order-1 order-lg-2 mt-5">
        <div class="w-100 who-we-are-image">
          <img
            src="assets/images/img.png"
            alt="طبشور"
            class="rounded-5 h-100 object-fit-cover"
            style="width: 80%"
          />

          <div class="flout-img">
            <img
              src="assets/images/img.png"
              alt=""
              class="w-100 h-100 object-fit-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
