<section class="sectionPadding">
  <div class="container">
    <div class="row g-4 g-lg-5 align-items-center">
      <div class="col-12 col-lg-5">
        <div class="w-100 why-trainer-image">
          <img
            src="assets/images/img.png"
            alt="طبشور"
            class="rounded-4 w-100 h-100 object-fit-cover"
          />
        </div>
      </div>

      <div class="col-12 col-lg-7 d-flex flex-column gap-3 gap-lg-4">
        <div class="section-header">
          <span class="section-header-subtitle">مركزنا</span>

          <h2 class="section-header-title">لماذا <span>مركز التدريب</span></h2>

          <p class="section-header-desc1">
            خبير تطوير برمجيات ومستشار تقني بخبرة تتجاوز 10 سنوات.
          </p>

          <p class="section-header-desc2">
            بدأت رحلتي في عالم البرمجة بشغف كبير، وعملت مع كبرى الشركات التقنية.
            أؤمن بأن التعليم يجب أن يكون عملياً ومبنياً على مشاريع حقيقية
            تواجهها في بيئة العمل.
          </p>
        </div>

        <ul class="list-unstyled row g-4">
          <li class="col-12 col-md-6">
            <div
              class="p-3 rounded-4 d-flex flex-column gap-3"
              style="background: var(--gray)"
            >
              <div
                class="bg-primary text-white fs-5 d-flex justify-content-center align-items-center rounded-circle"
                style="width: 2.8rem; height: 2.8rem"
              >
                <i class="bi bi-rocket-takeoff-fill mt-1"></i>
              </div>
              <h5 class="fw-medium">التسجيل والإطلاق</h5>
              <p>
                تحتاج فقط إلى ثلاث نقرات وكل شيء جاهز ومنصتك منشورة وكل شيء جاهز
              </p>
            </div>
          </li>
          <li class="col-12 col-md-6">
            <div
              class="p-3 rounded-4 d-flex flex-column gap-3"
              style="background: var(--gray)"
            >
              <div
                class="bg-primary text-white fs-5 d-flex justify-content-center align-items-center rounded-circle"
                style="width: 2.8rem; height: 2.8rem"
              >
                <i class="bi bi-rocket-takeoff-fill mt-1"></i>
              </div>
              <h5 class="fw-medium">التسجيل والإطلاق</h5>
              <p>
                تحتاج فقط إلى ثلاث نقرات وكل شيء جاهز ومنصتك منشورة وكل شيء جاهز
              </p>
            </div>
          </li>
          <li class="col-12 col-md-6">
            <div
              class="p-3 rounded-4 d-flex flex-column gap-3"
              style="background: var(--gray)"
            >
              <div
                class="bg-primary text-white fs-5 d-flex justify-content-center align-items-center rounded-circle"
                style="width: 2.8rem; height: 2.8rem"
              >
                <i class="bi bi-rocket-takeoff-fill mt-1"></i>
              </div>
              <h5 class="fw-medium">التسجيل والإطلاق</h5>
              <p>
                تحتاج فقط إلى ثلاث نقرات وكل شيء جاهز ومنصتك منشورة وكل شيء جاهز
              </p>
            </div>
          </li>
          <li class="col-12 col-md-6">
            <div
              class="p-3 rounded-4 d-flex flex-column gap-3"
              style="background: var(--gray)"
            >
              <div
                class="bg-primary text-white fs-5 d-flex justify-content-center align-items-center rounded-circle"
                style="width: 2.8rem; height: 2.8rem"
              >
                <i class="bi bi-rocket-takeoff-fill mt-1"></i>
              </div>
              <h5 class="fw-medium">التسجيل والإطلاق</h5>
              <p>
                تحتاج فقط إلى ثلاث نقرات وكل شيء جاهز ومنصتك منشورة وكل شيء جاهز
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
